.App {
  text-align: center;
}

a {
  color: #ffffff;
}
.create-button {
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: 'Carter One', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2,
    -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2,
    0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
  border: none;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
}
.create-button.red {
  box-shadow: 0 6px 0 #5fba5f, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  background: repeating-linear-gradient(
    45deg,
    #5fba5f,
    #5fba75 5px,
    #4cba5f 5px,
    #2ffa5f 10px
  );
}
.kill-style {
  border: 5px red solid;
  transform: translateY(20px);
  width: 6.1rem;
  margin: 10px;
}
.steal-coin {
  width: 85px;
  height: 85px;
  border: 8px solid #edca00;
  background-color: #947703;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 8px solid #edca00;
  cursor: pointer;
}
.changing-card {
  width: 6rem;
  margin: 2px;
  cursor: pointer;
  border: 5px green solid;
}
.coin {
  width: 70px;
  height: 70px;
  border: 8px solid #edca00;
  background-color: #947703;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.pick-coin-buttons {
  position: absolute;
  top: 80px;
  left: 50px;
}
.coin-stash {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 8%;
  cursor: pointer;
}
.container {
  background-color: black;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bot {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Homepage */
.Homepage {
  background-image: url('./assets/Landing-Page.gif');
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.homepage-menu {
  position: relative;
  top: 120px;
}

.homepage-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.homepage-form > h1 {
  margin: 0 30px;
}

.homepage-join {
  display: flex;
  flex-direction: column;
}

.homepage-join > input {
  font-size: 15px;
  width: 150px;
  line-height: 1.5em;
}

/* Game.js parent div */
.Game {
  background-size: cover;
  margin: 0;
  height: 100vh;
}

/* Game.js Background */
.backgroundColorR {
  background-image: url('./assets/backgrounds/bgR.png');
}

.backgroundColorG {
  background-image: url('./assets/backgrounds/bgG.png');
}

.backgroundColorB {
  background-image: url('./assets/backgrounds/bgB.png');
}

.backgroundColorY {
  background-image: url('./assets/backgrounds/bgY.png');
}

/* UNO Cards */
.Card {
  width: 6rem;
  margin: 2px;
  cursor: pointer;
}

/* Game.js Top Row */
.topInfo {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: lightskyblue;
  height: 100px;
  position: absolute;
  top: 0;
}

.topInfo > img {
  width: 7%;
  margin: 0;
  padding: 0;
}

.topInfo > h1 {
  margin-top: 10px;
  font-size: 1.8rem;
  padding-top: 2%;
}

.topInfoText {
  font-size: 2rem;
  margin: 0;
}

/* Player Decks */
.player1Deck {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player1Deck > img {
  transition: transform 350ms;
}

.player1Deck > img:hover {
  transform: scale(1.08);
  opacity: 1;
}

.player2Deck {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.player2Deck > img {
  transition: transform 350ms;
}

.player2Deck > img:hover {
  transform: scale(1.08);
  opacity: 1;
}

.playerDeckText {
  font-size: 2rem;
  margin: 0 20px;
}

/* Game.js Middle Row */
.middleInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middleInfo > button {
  align-self: center;
}

/* Game Buttons */
.game-button {
  position: absolute;
  top: 10;
  right: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: 'Carter One', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2,
    -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2,
    0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
  border: none;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
}

/* Spinner */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 5px;
  margin: 0 50px 0 50px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Chat Box */
.chat-box {
  position: absolute;
  bottom: 0px;
  background: white;
  width: 355px;
  border-radius: 5px 5px 0px 0px;
  z-index: 100;
}
.chat-box-player1 {
  right: 20px;
}
.chat-box-player2 {
  left: 20px;
}
.chat-head {
  width: inherit;
  height: 45px;
  background: #2c3e50;
  border-radius: 5px 5px 0px 0px;
}
.chat-head h2 {
  color: white;
  padding-top: 5px;
  display: inline-block;
}
.chat-head span {
  cursor: pointer;
  float: right;
  width: 25px;
  margin: 10px;
}
.chat-body {
  display: none;
  height: 205px;
  width: inherit;
  overflow: hidden auto;
  margin-bottom: 45px;
}
.chat-text {
  position: fixed;
  bottom: 0px;
  height: 45px;
  width: inherit;
}
.chat-text input {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border: 1px solid #bdc3c7;
  padding: 10px;
  resize: none;
  outline: none;
}
.chat-text input:active,
.chat-text input:focus,
.chat-text input:hover {
  border-color: royalblue;
}
.msg-send {
  background: #406a4b;
}
.msg-receive {
  background: #595080;
}
.msg-send,
.msg-receive {
  width: 285px;
  height: 35px;
  padding: 5px 5px 5px 10px;
  margin: 5px auto;
  border-radius: 3px;
  line-height: 30px;
  position: relative;
  color: white;
}
.msg-receive:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border: 15px solid;
  border-color: transparent #595080 transparent transparent;
  left: -29px;
  top: 7px;
}
.msg-send:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border: 15px solid;
  border-color: transparent transparent transparent #406a4b;
  right: -29px;
  top: 7px;
}
.msg-receive:hover,
.msg-send:hover {
  opacity: 0.9;
}
